@model IEnumerable<OnlineMovieBuyingRentingSystem.Models.MovieImage>
@{
    ViewData["Title"] = "MovieImages";
}

<h1>@ViewBag.Movie.Title Images</h1>
@*<h1>MovieImages</h1>*@

<a href="/Admin">Admin</a>
<br />

<a href="/Movie">Manage Movies</a>

<p>
    <a href="/MovieImage/Create">Add New</a>
</p>

<table class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.Movie)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
